{% extends "layout/layout1.html" %}
{% block content %}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-file-code-o"></i> Documentation</h1>
          <p>Documentation of Invoice and Receipt system</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Documentation</a></li>
        </ul>
      </div>
      <div class="tile">
        <div class="tile-body">
          <div class="docs" style="max-width: 700px;">
            <h2 class="docs-title">Structure</h2>
            <pre class="directory-structure">│
├── Invoice & Receipts - <i>Main function</i>
│   ├── Create
│   ├── Read all the previous invoices
│   └── Update and delete an invoice incase you are authenticated by the system
└── Receipts 
&nbsp;&nbsp;&nbsp;&nbsp;├── Create 
&nbsp;&nbsp;&nbsp;&nbsp;└── Edit - <i>if you are authenticated by the system</i>
&nbsp;&nbsp;&nbsp;&nbsp;├── Update 
&nbsp;&nbsp;&nbsp;&nbsp;└── Delete 
</pre>
            <h2 class="docs-title" id="Compilation-of-source-files">Registration by the Main admin</h2>
              <p>For the first time use, the Admin is given permission to register on the system by using the following link</p>
            <p>https://firm2.herokuapp.com/register </p>
            <p>After the admin registers, this link will be disabled and  any other user will be registered by the main admin <br>or anyother user has to contact the admin for registration</p>

            <h2 class="docs-title" id="Contribution-and-Issues">Contribution & Issues</h2>
            <p>For any assistance please contact  <a href="#" target="_blank" rel="noopener">William Mukasa</a>. If you find anything missing or want to improve on the system,am available <a href="#" target="_blank" rel="noopener">here</a>. If you have an issue or feature request regarding system please report it <a href="#" target="_blank" rel="noopener">here</a>.</p>
          </div>
        </div>
      </div>
    </main>
{% endblock %}