{# Render lap form.

  This macro is intended to render both regular lap subforms (received from the
  server) and the template form used to dynamically add more forms.
  
  Arguments:
      - subform: Form object to render
      - index: Index of the form. For proper subforms rendered in the form loop,
               this should match `loop.index0`, and for the template it should be
               '_'
  #}
  {%- macro render_lap_form(subform, index) %}
      <div id="lap-{{ index }}-form" class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}">

          <table>
              <thead>
                  <tr>
                    <th>{{ subform.professional_desc.label }}</th>
                    <th>{{ subform.professional_amount.label }}</th>
                      <th>{{ subform.disbursements_desc.label }}</th>
                      <th>{{ subform.disbursements_amount.label }}</th>
                  </tr>
              </thead>
              <tbody>
                  
                      <tr>
                        <!--<th style="font-size:200%">{{ subform.notes }}</th>-->
                        <th>{{ subform.professional_desc }}</th>
                        <th>{{ subform.professional_amount(value='0') }}</th>
                        <th>{{ subform.disbursements_desc}}</th>
                        <th>{{ subform.disbursements_amount(value='0') }}</th> 
                      </tr>
                  
              </tbody>
          </table>
          <a class="remove" href="#"><h3>Remove Item</h3></a>
          <hr/>
      </div>
  {%- endmacro %}
