{# Render lap form.

  This macro is intended to render both regular lap subforms (received from the
  server) and the template form used to dynamically add more forms.
  
  Arguments:
      - subform: Form object to render
      - index: Index of the form. For proper subforms rendered in the form loop,
               this should match `loop.index0`, and for the template it should be
               '_'
  #}
  {%- macro render_lap_form(subform, index) %}
      <div id="lap-{{ index }}-form" class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}">
          <div>     
          </div>
            {{ subform.prof_heading.label}}
                {{ subform.prof_heading }}  

          {{ subform.prof_sub1.label }}<br>
          {{ subform.prof_sub1 }}<br>
          {{ subform.prof_sub2.label }}<br>
          {{ subform.prof_sub2 }}<br>
          {{ subform.prof_sub3.label }}<br>
          {{ subform.prof_sub3 }}<br>
          {{ subform.prof_sub4.label }}<br>
          {{ subform.prof_sub4 }}<br>
          {{ subform.prof_sub5.label }}<br>
          {{ subform.prof_sub5 }}<br>
          <a class="remove" href="#">Remove above entries</a>
          <hr/>
      </div>
  {%- endmacro %}
  {%- macro render_lap2_form(subform2, index) %}
      <div id="lap-{{ index }}-form" class="{% if index != '_' %}subform2{% else %}is-hidden{% endif %}" data-index="{{ index }}">
        <strong>{{ subform2.disbursement_amount.label}}</strong>
        {{ subform2.disbursement_amount}}
          {{ subform2.disb_heading.label}}
              {{ subform2.disb_heading }}  
          {{ subform2.disb_sub1.label }}<br>
          {{ subform2.disb_sub1 }}<br>
          {{ subform2.disb_sub2.label }}<br>
          {{ subform2.disb_sub2 }}<br>
          {{ subform2.disb_sub3.label }}<br>
          {{ subform2.disb_sub3 }}<br>

          <a class="remove" href="#">Remove the above entries</a>
          <hr/>
      </div>
  {%- endmacro %}