{% extends "layout/layout1.html" %}
{% block content %}
    <main class="app-content">
      <div class="app-title">
        <div>
          {% with messages = get_flashed_messages(with_categories = true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
          <h1><i class="fa fa-file-text"></i> Managing Receipt</h1>
          <p>Printable  receipt Format</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Receipt</a></li>
        </ul>
      </div>       

    <div class="clearfix"></div>
      <div class="col-md-12">
      <div class="row d-print-none mt-2">
        <div class="col-12 text-left">
          <nav class="navbar navbar-light bg-light">
            <a class="btn btn-primary" href="{{ url_for('Create_Receipt')}}" ><i class="fa fa-print"></i> CREATE NEW RECEIPT</a>
            <strong>Search For received_from or receipt_number:{{ tag2 }}</strong>
            <form class="form-inline" method="POST" action="{{ url_for('receiptSearch')}} ">
              <input class="form-control mr-sm-2" type="text" name="tag2" id="tag2" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>
        </div>
      
      </div>
      </div>        
          <div class="clearfix"></div>
          <div class="col-md-12">
            <div class="tile">
              <h3 class="tile-title"></h3>
              <div class="table-responsive">
                    <table class="table table-striped">
                    <thead class="thead-dark"><!--
                      <tr>
                        <th>Search:</th>
                      </tr>-->
                      <tr>
                      <th>Reference Number</th>
                      <th>Date cashed</th>
                      <th>Received From</th>
                      <th>Created By</th>
                      <th>View Receipt</th>
                    </tr>

                  </thead>
                  <tbody>
                    {% for rpt in myRpt.items %}
                    <tr>
                      <td>{{rpt.receipt_number}}</td>
                      <td>{{rpt.date_created}}</td>
                      <td>{{rpt.received_from}}</td>
                      <td>{{rpt.receiptAuthor.username}}</td>
                      <td><a href="{{url_for('receipt', rpt_id = rpt.id)}} ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% for page_num in myRpt.iter_pages(left_edge=1, right_edge=1,left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if myRpt.page == page_num %}
                      <a class="btn btn-info mb-4" href="{{url_for('dashboard',page=page_num)}}">{{ page_num }}</a>
                    {% else %}
                      <a class="btn btn-outline-info mb-4" href="{{url_for('dashboard',page=page_num)}}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                  ...
                {% endif%}
              {% endfor %}
              </div>
            </div>
          </div>
    </main>
    {% endblock %}