<html>
	<head>
		<meta charset="utf-8">
		<title>Pro forma Invoice</title><!--
		<link rel="stylesheet" href="testing.css">-->
	</head>
	<body>
		<header>
			<h1>Pro forma Invoice</h1>
			<address >
				<h2>Kamahoro,Kiboome & Kirunda Advocates</h2>
				<p>1st Floor Block A-UAP<br>Nakawa Business Park</p>
				<p>Plot 3-5 Port Bell Road</p>
				<p>P.O.Box:&nbsp;27892 Kampala</p>
				<p>Office:&nbsp;&nbsp;(+256) 394-836-201</p>
				<p>Email:&nbsp;&nbsp;&nbsp;canaanadvocates@gmail.com</p>
			</address>
			<location>			
				<h6><strong>TIN No:&nbsp;&nbsp;1017550332</strong></h6>
			</location>
		</header>
		<article>
			<address >
				<p>{{inv.name_to}}.</p>
				<p>
                    {% if inv.company_name == '' %}
					{% else %}
					{{inv.company_name}}
					{% endif %}
                </p>
				<p>{{inv.address_to}}</p>
				<p>
                    {% if inv.email_to == '' %}
                    {% else %}
					Email:&nbsp;&nbsp;&nbsp;{{inv.email_to}}
					{% endif %}
                </p>
                <p>                    
                    {% if inv.telephone_to == '' %}
                    {% else%}
					Phone: &nbsp;&nbsp;&nbsp;{{inv.telephone_to}}
					{% endif %}
                </p>
                <p>
                    {% if inv.box_number_to == '' %}
                    {% else%}
                    P.0.Box&nbsp;&nbsp;{{inv.box_number_to}}</address>
                    {% endif %}
                </p>
			</address>

			<table class="meta">
					<th><span >Our Ref:</span></th>
					<td><span >{{ inv.ref_number }}</span></td>
				</tr>
				<tr>
					<th><span >Issue Date</span></th>
					<td><span >{{ inv.issue_date }}</span></td>
				</tr>
<!--
				<tr>
					<th><span >Payment Terms</span></th>
					<td><span >{{inv.terms }}</span></td>
				</tr>-->
			</table>
			<table class="inventory">
				<thead>
					<tr>
						<tr>
							<th colspan="2"><span >Professional fees/Ugs.shs</span></th>
							<th colspan="2"><span >Disbursements /Ugs.shs</span></th>
						</tr>

					</tr>
				</thead>
				<tbody class="head">
					<!--<colgroup>
						<col> 
						<col width="100px">
						<col>
						<col width="120px">
					</colgroup>-->
					<tr>
                        <td><span>
							{% for myItem in item %}
							<ul class="a">
							  <li>{{myItem.prof_heading }}
								<ol type="1">
								  {% if myItem.prof_sub1 !='' %}
										<li>{{myItem.prof_sub1}}</li>
								  {% else %}
								  {% endif%}
								  {% if myItem.prof_sub2 !='' %}
										<li>{{myItem.prof_sub2}}</li>
								  {% else %}
								  {% endif%}
								  {% if myItem.prof_sub3 !='' %}
										<li>{{myItem.prof_sub3}}</li>
								  {% else %}
								  {% endif%}
								  {% if myItem.prof_sub4 !='' %}
										<li>{{myItem.prof_sub4}}</li>
								  {% else %}
								  {% endif%}
								  {% if myItem.prof_sub5 !='' %}
										<li>{{myItem.prof_sub5}}</li>
								  {% else %}
								  {% endif%}
								</ol>
							  </li>
							  
							</ul>
							{% endfor %}  
						   </span></td>
						   <td><span><br>{{inv.professional_amount}}&nbsp;/=</span></td>

						   <td style="text-align:left;"><span>
							{% for dbmt in dis %} 
							 <ul class="a">
							   <li>{{dbmt.disb_heading}} 
								 <ol type="1">
								  {% if dbmt.disb_sub1 !='' %}
								  <li>{{dbmt.disb_sub1}}</li>
										{% else %}
								  {% endif%}
								  {% if dbmt.disb_sub2 !='' %}
								  <li>{{dbmt.disb_sub2}}</li>
										{% else %}
								  {% endif%}
								  {% if dbmt.disb_sub3 !='' %}
								  <li>{{dbmt.disb_sub3}}</li>
										{% else %}
								  {% endif%}
								  </ol>
							   </li>
							  </ul>
								{% endfor %}
							</span></td> 
							  <td><span>
								{% for dbmt in dis %} 
								{% if dbmt.disbursement_amount != 0.0%}
								<br><br>
								{{dbmt.disbursement_amount}}&nbsp;/=
								{% else %}
								<td></td>
									   {% endif%}
								{% endfor %}
							</span></td>
					</tr>
				
					<tr>
						<td class="note" ><a class="cut">-</a><span >To 18% VAT</span></td>
						<td><span >{{VAT}}&nbsp;/=</span></td>
					</tr>
					
					<tr>
						<td class="note" ><a class="cut">-</a><span >SubTotal</span></td>
						<td><span >{{subtotal_pr}}&nbsp;/=</span></td>
                        <td><span >SubTotal </span></td>
						<td><span >{{subtotal_db}}&nbsp;/=</span></td>
					</tr>
				</tbody>
			</table>
			<table class="balance">
				<tr>
					<th><span >Grandtotal</span><span data-prefix>/Ug.shs</span></th>
					<td><span>{{grandtotal }}&nbsp;/=</span></td>
				</tr>
			</table>
		</article>
		<aside>
			<h1><span>ACCOUNTS ARE DUE WHEN RENDERED;</span></h1>
			<strong><span>Bank:&nbsp;{{inv.bank }}</span>&nbsp;<span>{{inv.bank_branch }}</span>/&nbsp;&nbsp;<span></span><span>swift code:&nbsp;&nbsp;{{inv.swift_code }}</span>/&nbsp;&nbsp;<span>Account No:&nbsp;&nbsp; {{inv.account_number}}</span></strong>
			<!--<h2>NOTE:&nbsp;&nbsp; VAT of 18% payable on all professional fees</h2>
			<div class="line"><br>
				<h2>Kamahoro,Kiboome & Kirunda Advocates</h2>
			</div>-->
			<div style="float:right;">
				<span class ="signature">Kamahoro,Kiboome & Kirunda Advocates</span>    
			  </div>
		</aside>
	</body>
</html>