
<html>
	<head>
		<meta charset="utf-8">
		<title>Pro Forma Invoice</title><!--
		<link rel="stylesheet" href="testing.css">-->
	</head>
	<body>
		<header>
			<h1>Pro Forma Invoice</h1>
			<address >
				<h2>Kamahoro,Kiboome & Kirunda Advocates</h2>
				<p>1st Floor Block A-UAP<br>Nakawa Business Park</p>
				<p>Plot 3-5 Port Bell Road</p>
				<p>P.O.Box:&nbsp;27892 Kampala</p>
				<p>Office:&nbsp;&nbsp;(+256) 394-836-201</p>
				<p>Email:&nbsp;&nbsp;&nbsp;canaanadvocates@gmail.com</p>
			</address>
			<location>			
				<h3><strong>TIN No:&nbsp;&nbsp;1017550332</strong></h3>
			</location>
		</header>
		<article>
			<h1>Recipient</h1>
			<address >
				<p>{{inv.name_to}}.</p>
				<p>
                    {% if inv.company_name == '' %}
                    {% else%}
					{{inv.company_name}}
					{% endif %}
                </p>
				<p>{{inv.address_to}}</p>
				<p>
                    {% if inv.email_to == '' %}
                    {% else%}
					Email:&nbsp;&nbsp;&nbsp;{{inv.email_to}}
					{% endif %}
                </p>
                <p>                    
                    {% if inv.telephone_to == '' %}
                    {% else%}
					Phone: &nbsp;&nbsp;&nbsp;{{inv.telephone_to}}
					{% endif %}
                </p>
                <p>
                    {% if inv.box_number_to == '' %}
                    {% else%}
                    P.0.Box&nbsp;&nbsp;{{inv.box_number_to}}</address>
                    {% endif %}
                </p>
			</address>
			<table class="meta">
				<tr>
					<th width=60%><span >Our Ref</span></th>
					<td width=100%><span >{{ inv.ref_number }}</span></td>
				</tr>
				<tr>
					<th><span >Issue Date</span></th>
					<td><span >{{ inv.issue_date }}</span></td>
				</tr>

				<tr>
					<th><span >Payment Terms</span></th>
					<td><span >{{inv.terms }}</span></td>
				</tr>
			</table>
			<table class="inventory">
				<thead>
					<tr>
						<tr>
							<th colspan="2"><span >Professional fees/Ugs.shs</span></th>
							<th colspan="2"><span >Disbursements /Ugs.shs</span></th>
						</tr>

					</tr>
				</thead>
				<tbody>
				{% for myItem in item %}
					<tr>
						<td><span >{{myItem.professional_desc }}</span></td>
						{% if myItem.professional_amount != 0.0%}
						<td><span >{{ myItem.professional_amount }}&nbsp;/=</span></td>
						{% else %}
						<td></td>
						{% endif%}
						<td><span>{{myItem.disbursements_desc}}</span></td>
						{% if myItem.disbursements_amount != 0.0%}
						<td><span >{{ myItem.disbursements_amount }}&nbsp;/=</span></td>
						{% else %}
						<td></td>
						{% endif%}
					</tr>
					{% endfor %}  
					<tr>
						<td class="note" ><a class="cut">-</a><span >To 18% VAT</span></td>
						<td><span >{{VAT}}&nbsp;/=</span></td>
					</tr>
					
					<tr>
						<td class="note" ><a class="cut">-</a><span >SubTotal</span></td>
						<td><span >{{grandtotal_pr}}&nbsp;/=</span></td>
                        <td><span >SubTotal </span></td>
						<td><span >{{subtotal_db}}&nbsp;/=</span></td>
                        
					</tr>
				</tbody>
			</table>
			<table class="balance">
				<tr>
					<th><span >Grandtotal</span><span data-prefix>/Ug.shs</span></th>
					<td><span>{{grandtotal }}&nbsp;/=</span></td>
				</tr>
			</table>
		</article>
		<aside>
			<h1><span>ACCOUNTS ARE DUE WHEN RENDERED;</span></h1>
			<!--<h2>NOTE:&nbsp;&nbsp; VAT of 18% payable on all professional fees</h2>
			<div class="line"><br>
				<h2>Kamahoro,Kiboome & Kirunda Advocates</h2>
			</div>-->
			<div style="float:right;">
				<span class ="signature">Kamahoro,Kiboome & Kirunda Advocates</span>    
			  </div>
		</aside>
	</body>
</html>