<html>
    <head>
        <meta charset="utf-8">
        <title>Receipt</title>
    </head>
    <body>
  <main>
  <div class="container">
              <div class="col-md-12">
                <div class="tile">
          <section class="invoice">
            <div class="row mb-4">
                <div class="col-12">
                    <h2 class="page-header"> KAMAHORO,KIBOOME&KIRUNDA ADVOCATES</h2>
	                    <div class="col-12">
                        <address><strong>Attorneys at law,Land and Legal Consultants Conveyancers,Property</strong><br><strong>Managers,Tax and Commercial Law Consultants Arbitrators</strong><br><strong>Company Secretaries,Patent and Trademark Agents</strong><strong>Company Secretaries,Patent and Trademark Agents</strong></address>
                      </div>
                  </div>
            </div>
            <form >
                <div class="row invoice-info">
                    <div class="col-4">Location
                        <address><br><strong>1st Floor Block A-UAP<br>Nakawa Business Park<br>Plot 3-5 Portbell Road<br>P.O.Box:&nbsp;27892 Kampala<br>Email:&nbsp;&nbsp;&nbsp;canaanadvocates@gmail.com<br>Telephone:&nbsp;&nbsp;(+256)-394-836-201</strong></address>
                      </div>
                  <div class="col-4">
                    <h5 >RECEIPT</h5>
                  </div>
                  <div class="col-4"><h5><b>Date:&nbsp;&nbsp; {{rpt.date_created}}</h5></b><br><b><h6>Receipt No:&nbsp;&nbsp;{{ rpt.receipt_number }}</b><br></h6></div>
                </div>
                <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-4 col-form-label"><h6><strong>RECEIVED</strong> with thanks from:</h6></label>
                    <div class="col-sm-8">
                      {{ rpt.received_from }}
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-3 col-form-label"><h6>The Sum of shillings:</h6></label>
                    <div class="col-sm-8">
					          {{ rpt.sum_in_words}}
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-3 col-form-label"><h6>Being payment of:</h6></label>
                    <div class="col-sm-8">
                      {{ rpt.reason }}
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-3 col-form-label"><h6>Cash/Cheque No:</h6></label>
                    <div class="col-sm-4">
                      {{ rpt.cash_cheque}}
                    </div>
                    <div class="row mb-2">
                        <label for="colFormLabel" class="col-sm-4 col-form-label"><strong>Balance:<strong></label>
                        <div class="col-sm-6">
                          {{ rpt.balance }}
                        </div>
                    </div>
                    </div>
                    <div class="row mb-2">
                        <label for="colFormLabel" class="col-sm-4 col-form-label"><Strong>Shillings in Figures:<Strong></label>
                        <div class="col-sm-6" style{ border-top: 1px dotted red}>
                          {{ rpt.amount}}   
                        <span>With thanks</span>
                        </div>
                    
                    <div class="row mb-2">
                        <label for="colFormLabel" class="col-sm-4 col-form-label"><strong>Signature:<strong></label>
                        <div class="col-sm-8">
							<div style="float:right;"> 
								<span class ="signature"><strong>Kamahoro,Kiboome & Kirunda Advocates<strong></span>    
							  </div>
                        </div>
                    </div>
                </div>
          </form>
        </section> 
    </div>
    </div>
	    </div>
  </main>
    </body>
</html>